#gameCanvas {
    /* background-color:rgba(0,0,0,0.8); */
    background-image: url('/assets/backdropBlue.png');
    /* background: none; */
}

#gameCanvas, #backgroundCanvas {
    position: fixed;
}
/* #background{

    background-image: url('/assets/backdrop.png');
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  } */

#muteLink {
    position: absolute;
    top: 35px;
    left: 10px;
    color: #f0f0f0;
}

#gamecontainer {
    height: 600px;
}

  
  