#gameCanvas {
    /* background-color:rgba(0,0,0,0.8); */
    background-image: url('/assets/backdrop.png')
}

#muteLink {
    position: absolute;
    top: 35px;
    left: 10px;
    color: #f0f0f0;
}

#gamecontainer {
    height: 600px;
}