<!-- Background -->
<div id="container">
  <app-backdrop></app-backdrop>
  <app-birds></app-birds>
  <app-crow-balance></app-crow-balance>
</div>

<!-- Title -->
<div id="title-container" class="animated" [ngClass]="{'bounceOutUp': terminalOpen, 'bounceInDown': bounceIn}">
  <span id="title"></span>
  <br/>
  <span id="subtitle"></span>
  <br/>
  <div class="button-container">
    <button mat-button (click)="openTerminal()" *ngIf="showButton"  class="gradient-button animated bounceInUp">
      LETS GO
    </button>
  </div>
</div>


<!-- Console -->
<app-terminal id="terminal-container" *ngIf="terminalOpen" class="animated bounceInUp">
</app-terminal>


