<div id="terminal" ngDraggable [handle]="dragHandle" class="shell-wrap">
  <div #dragHandle class="shell-top-bar">
    <div class="buttons">
      <div class="close" (click)="closeTerminal()">
        <div class="closebutton">
          <span>
            <strong>x</strong>
          </span>
        </div>
      </div>
    </div>
    Crow Command Centre Control
  </div>
  <div class="shell-body" (click)="focusInput()" [hidden]="shootingCrows">
    <div *ngFor="let cmd of commands; let i = index" class="output-container">
      <span [hidden]="!cmd.containsCommand" class="terminal-prompt-command">
        <span class="terminal-prompt-text">{{prompt}}</span>
        {{cmd.command}}
      </span>
      <span [id]="'output-' + i"></span>
    </div>
    <span class="terminal-prompt terminal-prompt-text" *ngIf='showPrompt'>
      {{prompt}}
    </span>
    <span class="command-input" *ngIf='showPrompt'>
      {{currentInput}}{{cursor}}
    </span>
    <input type="text" class="cmdInput" #cmdInput [(ngModel)]="currentInput" (blur)="inputBlur()" 
    (focus)="focusInput()" (keyup.enter)="executeCommandAsync()" />
  </div>
  <app-game *ngIf="shootingCrows" (finalScore)="gameFinished($event)"></app-game>
</div>


