<div id="terminal" ngDraggable [handle]="dragHandle" class="shell-wrap">
  <div #dragHandle class="shell-top-bar">
    <div class="buttons">
      <div class="close">
        <div class="closebutton">
          <span>
            <strong>x</strong>
          </span>
        </div>
      </div>
    </div>
    Crow Command Centre Control
  </div>
  <div class="shell-body" (click)="focusInput()">
    <div *ngFor="let cmd of commands; let i = index" class="output-container">
      <span [hidden]="!cmd.containsCommand">
        <span class="terminal-prompt-text">{{prompt}}</span>
        <span class="terminal-prompt-command">{{cmd.command}}</span>
      </span>
      <span [id]="'output-' + i"></span>
    </div>
    <span class="terminal-prompt terminal-prompt-text" *ngIf='showPrompt'>
      {{prompt}}
    </span>
    <span class="command-input" *ngIf='showPrompt'>
      {{currentInput}}{{cursor}}
    </span>
    <input type="text" class="cmdInput" #cmdInput [(ngModel)]="currentInput" (blur)="inputBlur()" (focus)="focusInput()" (keyup.enter)="executeCommandAsync()"
    />
  </div>
</div>
